@import "global.css";
#homepage{
    width: 100%;
    height: 100vh;
    background: var(--color-text);
    color: var(--color-bg);
    box-sizing: border-box !important;
    position: relative;
    margin-bottom: 50px;
}


.hp_list_label {
    width: 100%;
    height: 40%;
    background: var(--color-bg);
    position: absolute;
    left: 0;
    bottom: 0;
}
.hp_list_label .hp_img {
    height: 200%;
    position: absolute;
    right: 50px;
    top: 0%;
    transform: translateY(-50%);
}
.list_label img {
    height: 50px;
}
.list_label {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#s_history {
    background: var(--color-text);
    color: var(--color-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    align-content: center;
    padding: 0;
}
.sh_container{
    padding: 50px;
}
#s_history .test {
    height: 100%;
    width: 50%;
    background: #000;
    position: absolute;
    right: 0;
}#s_history .test video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

 .tab {
     display: flex;
     justify-content: space-between;
     border-bottom: 2px solid #767676;
 }
 .tab--item {
     background: none;
     border: none;
     border-bottom: 2px solid red;
     padding: 15px;
     margin: 0 5px;
 }
.container_product_list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
#s_h_product_list {
    padding: var(--pd-section);
    text-align: center;
}
.hp_box_txt {
    padding: 100px 50px;
}

#s_merit {
    padding: 50px;
    text-align: center;
}

.box--merit {
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box--merit img {
    width: 60px;
}
.box--merit_img {
    padding: 5px;
    border: 1px solid #333;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.box--merit h4 {
    margin: 15px 0;
}
.list--merit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    flex-wrap:wrap;
}

@media (max-width: 768px) {
    .hp_img {
        display: none;
    }
}
@media (max-width: 426px) {
    #s_history .test video {
        display: none;
    }
    #s_history {
        grid-template-columns: 1fr;
    }
}