@import "global.css";

#s_product {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: var(--pd-section);
}
@media (max-width: 424px) {
    #s_product {
        flex-direction: column;
    }
}
.box--img {
    max-width: 800px;
    height: 500px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box--img img {
    max-width: 100%;
    object-fit: cover;
}

.box--content {
    width: 60%;
}
.cart--btn {
    display: flex;
    align-items: center;
    gap: 25px;
    border: none;
    background: var(--color-text);
    color: var(--color-bg);
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}
.cart--btn img {
    height: 16px;
}
.pd_price {
    font-weight: 900;
}
.pd_name {
    font-weight: 300;
}
#s_product hr {

}